body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px;
}

label {
    background-color: #ffb3d1; /* Normal arka plan rengi */
    border-radius: 5px;
    padding: 10px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Geçiş efektleri */
}

label.selected {
    background-color: #ff4d94; /* Seçili arka plan rengi */
    color: #fff; /* Seçili metin rengi */
}

input[type="radio"]:hover + label {
    background-color: #ff4d94; /* Hover sırasında arka plan rengi */
}

input[type="radio"]:checked + label {
    background-color: #ff4d94; /* Seçili arka plan rengi */
    color: #fff; /* Seçili metin rengi */
}
